h1 {
    color: red;
    font-size: 50px;
    background-color: bisque;
}

p {
    color: black;
    font-size: 20px;
    text-align: justify;
}

hr {
    height: 7px;
    background-color: brown;
    width: 100%;
}

h3 {
    background-color: aqua;
    height: 40px;
    word-spacing: 15px;
    font-family: font-family: 'Lilita One', cursive;
    font-family: 'Lora', serif;;
}

p {
    text-align: justify;
    font-size: 25px;
    line-height: 1.5;
    font-family: font-family: 'Lilita One', cursive;
    font-family: 'Lora', serif;;
}